/*body {
    background-color: rgb(255, 234, 0);
}
p {
    color: rgb(26, 23, 113);
}
*/
.heading {
   color:crimson ;
   font-size: 43px;
   text-align: center;
   text-decoration: underline;
}
