/* Universal Selector
 padding 0
 margine 0
*/
body {
    background-color: rgb(216, 60, 60);
}
/* element selector
h1 {
    color: beige;
}
p {
    color: rgb(214, 11, 187);
    font-size: 30px;
}
*/

/* Class Selector */
.para {
    color: rgb(68, 47, 13);
    font-size: 30px;
}
.hello {
    text-align: center;
}
/* 
ID selector
*/
#id1 {
    color: bisque;
    background-color: blue;
}

/* Selector list */
.class1 , .class7 , .class10 {
    
}